@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
:root{
    --color-1: #253237;
    --color-2: #5C6B73;
    --color-4: #9DB4C0;
    --color-5: #C2DFE3;
    --color-6: #E0FBFC;
}
*{
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

body{
    background-image: url("sfondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h3{
    color: var(--color-5);
}

#centro{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #0000004e;
    padding: 100px 50px;
    border-radius: 50px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.67);
    backdrop-filter: blur(10px);
}