*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    text-align: center;
}
a{
    text-shadow: black 0px 0px 10px;
    color: aquamarine;
}
a div{
    transition: all, 0.3s;
}
a:hover{
    color: rgb(255, 255, 255);
}
a:hover div{
    transform: scale(1.1);
}